[submodule "submodules/linphone"]
	path = submodules/linphone
	url = git://git.linphone.org/linphone.git
[submodule "submodules/externals/osip"]
	path = submodules/externals/osip
	url = git://git.linphone.org/osip.git
[submodule "submodules/externals/exosip"]
	path = submodules/externals/exosip
	url = git://git.linphone.org/exosip.git
[submodule "submodules/externals/gsm"]
	path = submodules/externals/gsm
	url = git://git.linphone.org/gsm.git
[submodule "submodules/externals/speex"]
	path = submodules/externals/speex
	url = http://git.xiph.org/speex.git
[submodule "submodules/msilbc"]
	path = submodules/msilbc
	url = git://git.linphone.org/msilbc.git
[submodule "submodules/libilbc-rfc3951"]
	path = submodules/libilbc-rfc3951
	url = git://git.linphone.org/libilbc-rfc3951.git
[submodule "submodules/tunnel"]
	path = submodules/tunnel
	url = gitosis@git.linphone.org:tunnel.git
[submodule "submodules/externals/opencore-amr"]
	path = submodules/externals/opencore-amr
	url = git://opencore-amr.git.sourceforge.net/gitroot/opencore-amr/opencore-amr
[submodule "submodules/msamr"]
	path = submodules/msamr
	url = git://git.linphone.org/msamr.git
[submodule "submodules/externals/zrtpcpp"]
	path = submodules/externals/zrtpcpp
	url = git://github.com/wernerd/ZRTPCPP.git
[submodule "submodules/mssilk"]
	path = submodules/mssilk
	url = git://git.linphone.org/mssilk.git
