Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-extract
intltool-merge
intltool-update
libtool
ltmain.sh
missing
mkinstalldirs
speex
stamp-h1
linphone.spec
linphone.iss
msx264.iss
*.o
*.exe
*.zip
*~
linphone-install
buddylookup-install
msx264-install
*.tar.gz
intltool-extract.in
intltool-merge.in
intltool-update.in
INSTALL
Specfile
.anjuta/
.anjuta_sym_db.db
gtk-glade/version_date.h
share/linphone.desktop
Debug/
build/macos/Info-linphone.plist
coreapi/help/Doxyfile
coreapi/help/buddy_status
coreapi/help/chatroom
coreapi/help/doc/
coreapi/help/helloworld
coreapi/help/registration
coreapi/test_ecc
coreapi/test_lsd
gtk/version_date.h

