Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-extract
intltool-merge
intltool-update
libtool
ltmain.sh
missing
mkinstalldirs
speex
stamp-h1
linphone.spec
linphone.iss
msx264.iss
*.o
*.exe
*.zip
*~
linphone-install
buddylookup-install
msx264-install
*.tar.gz
intltool-extract.in
intltool-merge.in
intltool-update.in
INSTALL
Specfile
.anjuta/
.anjuta_sym_db.db
gtk-glade/version_date.h
share/linphone.desktop
share/audio-assistant.desktop
Debug/
build/macos/Info-linphone.plist
coreapi/help/Doxyfile
coreapi/help/buddy_status
coreapi/help/chatroom
coreapi/help/doc/
coreapi/help/helloworld
coreapi/help/registration
coreapi/help/realtimetext_receiver
coreapi/help/realtimetext_sender
coreapi/test_ecc
coreapi/test_lsd
gtk/version_date.h
daemon/linphone-daemon
daemon/linphone-daemon-pipetest
*.la
*.lo
*.deps
*.libs
share/certdata.txt
coreapi/test_numbers
specs.c
*.orig
*.rej
*.kdev4
*.swp
.deps
.libs
tools/test_ecc
tools/test_lsd
tools/test_numbers
coreapi/help/notify
share/fresh-rootca.pem
tester/liblinphone_tester
tools/lp-gen-wrappers
tools/lpc2xml_test
tools/xml2lpc_test
coreapi/help/filetransfer
tester/receive_file.dump
tester/tmp.db
.DS_Store
Linphone.app
*.dmg
tester/linphone*.log
tester/linphone_log.txt
.tx/linphone-gtk.linphonedesktopin/
po/linphone.pot
.tx/linphone-gtk.audio-assistantdesktopin/
tester/linphone_log.gz.txt
tools/auto_answer
tools/lp-autoanswer
build/macos/pkg-distribution.xml
record_for_lc_*.wav
tester/record-call_with_file_player.wav
tester/ZIDCache*.xml

tester/stereo-record.wav
.dirstamp
git-clang-format.diff
*.log
.bc_tester_utils.tmp
tools/lp-test-ecc
tools/lp-sendmsg

*.pyc
