<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INStartCallIntent</string>
			<key>IntentExamples</key>
			<array>
				<!-- English -->
				<string>Call John with Linphone</string>
				<!-- French -->
				<string>Appeler Jean avec Linphone</string>
				<!-- Spanish -->
				<string>Llamar a Juan con Linphone</string>
				<!-- German -->
				<string>Rufe John mit Linphone an</string>
				<!-- Russian -->
				<string>Позвонить Джону через Linphone</string>
				<!-- Portuguese -->
				<string>Ligar para João com Linphone</string>
				<!-- Portuguese Brazil -->
				<string>Ligar para João com Linphone</string>
				<!-- Dutch -->
				<string>Bel John met Linphone</string>
				<!-- Czech -->
				<string>Zavolat Janovi přes Linphone</string>
				<!-- Slovak -->
				<string>Zavolať Jánovi cez Linphone</string>
				<!-- Ukrainian -->
				<string>Подзвонити Джону через Linphone</string>
				<!-- Hungarian -->
				<string>Hívd fel Johnt Linphone-nal</string>
				<!-- Finnish -->
				<string>Soita Johnille Linphonella</string>
				<!-- Catalan -->
				<string>Trucar a en Joan amb Linphone</string>
				<!-- Macedonian -->
				<string>Јави му се на Џон преку Linphone</string>
				<!-- Basque -->
				<string>Deitu Johni Linphone-rekin</string>
				<!-- Chinese Simplified -->
				<string>用 Linphone 给约翰打电话</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
