static PyTypeObject pylinphone_VideoSizeType;

typedef struct {
	PyObject_HEAD
	MSVideoSize vs;
} pylinphone_VideoSizeObject;

int PyLinphoneVideoSize_Check(PyObject *p);
MSVideoSize PyLinphoneVideoSize_AsMSVideoSize(PyObject *obj);
PyObject * PyLinphoneVideoSize_FromMSVideoSize(MSVideoSize vs);
