
[proxy_default_values]

reg_proxy=
reg_route=
reg_identity=
reg_expires=3600
reg_sendregister=1
publish=0
dial_escape_plus=0

[wizard]
service_url=

[app]
pushnotification_preference=0
sharing_server_preference=
ice_preference=1
stun_preference=stun.linphone.org
random_port_preference=1

[net]
firewall_policy=none
stun_server=

[sip]
sip_port=-1
sip_tcp_port=-1
sip_tls_port=-1