
[proxy_default_values]

reg_proxy=<sip:sip.linphone.org:5223;transport=tls>
reg_route=<sip:sip.linphone.org:5223;transport=tls>
reg_identity=sip:?@sip.linphone.org
reg_expires=604800
reg_sendregister=1
publish=0
dial_escape_plus=0

[wizard]
service_url=https://www.linphone.org/wizard.php

[app]
push_notification_preference=1
sharing_server_preference=https://www.linphone.org:444/upload.php
ice_preference=1
stun_preference=stun.linphone.org
