<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSans-Light.ttf</string>
		<string>NotoSans-Regular.ttf</string>
		<string>NotoSans-Medium.ttf</string>
		<string>NotoSans-SemiBold.ttf</string>
		<string>NotoSans-Bold.ttf</string>
		<string>NotoSans-ExtraBold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>linphone</string>
	</dict>
</dict>
</plist>
