<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.linphone.phone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>linphone-message</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.linphone.phone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>linphone-config</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.linphone.phone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sip</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.linphone.phone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sips</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.linphone.phone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sip-linphone</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.linphone.phone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sips-linphone</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.linphone.phone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>linphone-sip</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.linphone.phone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>linphone-sips</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.linphone.phone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tel</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.linphone.phone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>org.linphone</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.linphone.phone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>callto</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSans-Light.ttf</string>
		<string>NotoSans-Regular.ttf</string>
		<string>NotoSans-Medium.ttf</string>
		<string>NotoSans-SemiBold.ttf</string>
		<string>NotoSans-Bold.ttf</string>
		<string>NotoSans-ExtraBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>voip</string>
		<string>audio</string>
	</array>
	<key>UILaunchScreen</key>
	<false/>
</dict>
</plist>
