{{#hasNamespaceDeclarator}}
.. {{#write_declarator}}namespace{{/write_declarator}}:: {{{namespace}}}
	{{#isJava}}
	:noindex:
	{{/isJava}}
{{/hasNamespaceDeclarator}}

{{#make_chapter}}{{{className}}} class{{/make_chapter}}

.. {{#write_declarator}}class{{/write_declarator}}:: {{{classDeclaration}}}
	
	{{#briefDoc}}
	{{#lines}}
	{{{line}}}
	{{/lines}}
	{{/briefDoc}}
	
	{{#detailedDoc}}
	{{#lines}}
	{{{line}}}
	{{/lines}}
	{{/detailedDoc}}
	
	{{{selector}}}


{{#hasNamespaceDeclarator}}
.. {{#write_declarator}}namespace{{/write_declarator}}:: {{{fullClassName}}}
	{{#isJava}}
	:noindex:
	{{/isJava}}
{{/hasNamespaceDeclarator}}


Summary
=======

{{#hasEnums}}
Enums
-----

{{{enumsSummary}}}
{{/hasEnums}}

{{#hasProperties}}
Properties
----------

{{{propertiesSummary}}}
{{/hasProperties}}

{{#hasMethods}}
Methods
-------

{{{instanceMethodsSummary}}}
{{/hasMethods}}

{{#hasClassMethods}}
Class methods
-------------

{{{classMethodsSummary}}}
{{/hasClassMethods}}


Detailed descriptions
=====================

{{#hasEnums}}
Enums
-----

{{#enums}}
{{#make_subsection}}{{{name}}}{{/make_subsection}}
.. {{#write_declarator}}enum{{/write_declarator}}:: {{{declaration}}}

	{{#briefDesc}}
	{{#lines}}
	{{{line}}}
	{{/lines}}
	{{/briefDesc}}

	{{{selector}}}

	{{#enumerators}}
	{{#isNotJava}}
	.. {{#write_declarator}}enumerator{{/write_declarator}}:: {{{name}}}

	{{/isNotJava}}
	{{#isJava}}
	**{{{name}}}**
	{{/isJava}}
		{{#briefDesc}}
		{{#lines}}
		{{{line}}}
		{{/lines}}
		{{/briefDesc}}

		{{{selector}}}

	{{/enumerators}}
{{/enums}}
{{/hasEnums}}

{{#hasProperties}}
Properties
----------

{{#properties}}

.. _{{{ref_label}}}:

{{{title}}}

{{#hasNamespaceDeclarator}}
.. {{#write_declarator}}namespace{{/write_declarator}}:: {{{fullClassName}}}
	{{#isJava}}
	:noindex:
	{{/isJava}}
{{/hasNamespaceDeclarator}}

{{#getter}}
.. {{#write_declarator}}method{{/write_declarator}}:: {{{prototype}}}
	
	{{#briefDoc}}
	{{#lines}}
	{{{line}}}
	{{/lines}}
	{{/briefDoc}}
	
	{{#detailedDoc}}
	{{#lines}}
	{{{line}}}
	{{/lines}}
	{{/detailedDoc}}
	
	{{{selector}}}
{{/getter}}

{{#setter}}
.. {{#write_declarator}}method{{/write_declarator}}:: {{{prototype}}}
	
	{{#briefDoc}}
	{{#lines}}
	{{{line}}}
	{{/lines}}
	{{/briefDoc}}
	
	{{#detailedDoc}}
	{{#lines}}
	{{{line}}}
	{{/lines}}
	{{/detailedDoc}}
	
	{{{selector}}}
{{/setter}}

{{/properties}}
{{/hasProperties}}

{{#hasMethods}}
Public methods
--------------

{{#hasNamespaceDeclarator}}
.. {{#write_declarator}}namespace{{/write_declarator}}:: {{{fullClassName}}}
	{{#isJava}}
	:noindex:
	{{/isJava}}
{{/hasNamespaceDeclarator}}

{{#methods}}
.. {{#write_declarator}}method{{/write_declarator}}:: {{{prototype}}}
	
	{{#briefDoc}}
	{{#lines}}
	{{{line}}}
	{{/lines}}
	{{/briefDoc}}
	
	{{#detailedDoc}}
	{{#lines}}
	{{{line}}}
	{{/lines}}
	{{/detailedDoc}}
	
	{{{selector}}}

{{/methods}}

{{/hasMethods}}
{{#hasClassMethods}}
Class methods
-------------

{{#hasNamespaceDeclarator}}
.. {{#write_declarator}}namespace{{/write_declarator}}:: {{{fullClassName}}}
	{{#isJava}}
	:noindex:
	{{/isJava}}
{{/hasNamespaceDeclarator}}

{{#classMethods}}
.. {{#write_declarator}}method{{/write_declarator}}:: static {{{prototype}}}
	
	{{#briefDoc}}
	{{#lines}}
	{{{line}}}
	{{/lines}}
	{{/briefDoc}}
	
	{{#detailedDoc}}
	{{#lines}}
	{{{line}}}
	{{/lines}}
	{{/detailedDoc}}
	
	{{{selector}}}

{{/classMethods}}
{{/hasClassMethods}}
