{{#namespace}}
.. {{#write_declarator}}namespace{{/write_declarator}}:: {{{namespace}}}
	{{#isJava}}
	:noindex:
	{{/isJava}}
{{/namespace}}

{{#enums}}
{{{sectionName}}}

{{#isNotJava}}
	.. {{#write_declarator}}enum{{/write_declarator}}:: {{{fullName}}}
{{/isNotJava}}
{{#isJava}}
.. java:type:: public enum {{{name}}};
{{/isJava}}
	
	{{#briefDesc}}
	{{#lines}}
	{{{line}}}
	{{/lines}}
	{{/briefDesc}}
	
	{{{selector}}}
	
	{{#isNotJava}}
	{{#enumerators}}
	.. {{#write_declarator}}enumerator{{/write_declarator}}:: {{{name}}}{{#value}} = {{{value}}}{{/value}}
		
		{{#briefDesc}}
		{{#lines}}
		{{{line}}}
		{{/lines}}
		{{/briefDesc}}
		
		{{{selector}}}
	
	{{/enumerators}}
	{{/isNotJava}}
{{/enums}}
