<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INStartCallIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Call John with Linphone</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
