<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Codecs</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>speex_16k_preference</string>
			<key>Title</key>
			<string>Speex 16kHz</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>speex_8k_preference</string>
			<key>Title</key>
			<string>Speex 8kHz</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>opus_preference</string>
			<key>Title</key>
			<string>Opus 48kHz</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>silk_24k_preference</string>
			<key>Title</key>
			<string>Silk 24kHz</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>silk_16k_preference</string>
			<key>Title</key>
			<string>Silk 16kHz</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>aaceld_16k_preference</string>
			<key>Title</key>
			<string>AAC-ELD 16kHz</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>aaceld_22k_preference</string>
			<key>Title</key>
			<string>AAC-ELD 22kHz</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>aaceld_32k_preference</string>
			<key>Title</key>
			<string>AAC-ELD 32kHz</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>aaceld_44k_preference</string>
			<key>Title</key>
			<string>AAC-ELD 44kHz</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>New item</key>
			<string></string>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>aaceld_48k_preference</string>
			<key>Title</key>
			<string>AAC-ELD 48kHz</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>amr_preference</string>
			<key>Title</key>
			<string>AMR</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>BV16</string>
			<key>Key</key>
			<string>bv16_preference</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>g722_preference</string>
			<key>Title</key>
			<string>G.722</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>g729_preference</string>
			<key>Title</key>
			<string>G.729</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>gsm_preference</string>
			<key>Title</key>
			<string>GSM</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>ilbc_preference</string>
			<key>Title</key>
			<string>iLBC</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>isac_preference</string>
			<key>Title</key>
			<string>iSAC</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>pcmu_preference</string>
			<key>Title</key>
			<string>PCMU</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>pcma_preference</string>
			<key>Title</key>
			<string>PCMA</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>audio_advanced_group</string>
			<key>Title</key>
			<string>Advanced</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>playback_gain_preference</string>
			<key>Title</key>
			<string>Playback gain</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>microphone_gain_preference</string>
			<key>Title</key>
			<string>Microphone gain</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>36</integer>
			<key>Key</key>
			<string>audio_codec_bitrate_limit_preference</string>
			<key>Title</key>
			<string>Codec bitrate limit</string>
			<key>Titles</key>
			<array>
				<string>10 kbits/s</string>
				<string>15 kbits/s</string>
				<string>20 kbits/s</string>
				<string>36 kbits/s</string>
				<string>64 kbits/s</string>
				<string>128 kbits/s</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>10</integer>
				<integer>15</integer>
				<integer>20</integer>
				<integer>36</integer>
				<integer>64</integer>
				<integer>128</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>voiceproc_preference</string>
			<key>Title</key>
			<string>Enable Voice Processing</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>eq_active</string>
			<key>Title</key>
			<string>Enable Bass Boost</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
