<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Send inband DTMFs</string>
			<key>Key</key>
			<string>rfc_dtmf_preference</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Send SIP INFO DTMFs</string>
			<key>Key</key>
			<string>sipinfo_dtmf_preference</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>incoming_call_timeout_preference</string>
			<key>Title</key>
			<string>Incoming call timeout</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>DefaultValue</key>
			<integer>30</integer>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>in_call_timeout_preference</string>
			<key>Title</key>
			<string>In call timeout</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>voice_mail_uri_preference</string>
			<key>Title</key>
			<string>Voice mail URI</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>repeat_call_notification_preference</string>
			<key>Title</key>
			<string>Repeat call notification</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>call_ringtone_preference</string>
			<key>Title</key>
			<string>Ringtone</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Four hands together</string>
				<string>It&apos;s a game</string>
				<string>Notes of the optimistic</string>
				<string>Soft as snow</string>
				<string>Leaving a dream</string>
				<string>House Keeping</string>
			</array>
			<key>Values</key>
			<array>
				<string>four_hands_together.caf</string>
				<string>it_s_a_game.caf</string>
				<string>notes_of_the_optimistic.caf</string>
				<string>soft_as_snow.caf</string>
				<string>leaving_a_dream.caf</string>
				<string>house_keeping.caf</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>preview_ringtone_button</string>
			<key>Title</key>
			<string>Listen ringtone</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
