<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>LDAP configs</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>new_ldap_button</string>
			<key>Title</key>
			<string>Add new LDAP config (5 max)</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ldap_1</string>
			<key>File</key>
			<string>LDAP</string>
			<key>Title</key>
			<string>LDAP 1</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ldap_2</string>
			<key>File</key>
			<string>LDAP</string>
			<key>Title</key>
			<string>LDAP 2</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ldap_3</string>
			<key>File</key>
			<string>LDAP</string>
			<key>Title</key>
			<string>LDAP 3</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ldap_4</string>
			<key>File</key>
			<string>LDAP</string>
			<key>Title</key>
			<string>LDAP 4</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ldap_5</string>
			<key>File</key>
			<string>LDAP</string>
			<key>Title</key>
			<string>LDAP 5</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
