<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
		    <key>Type</key>
		    <string>PSToggleSwitchSpecifier</string>
		    <key>Title</key>
		    <string>Enabled</string>
		    <key>Key</key>
		    <string>ldap_enabled</string>
		    <key>DefaultValue</key>
		    <true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>ldap_remove_button</string>
			<key>Title</key>
			<string>Delete this LDAP config</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Connexion</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ldap_server</string>
			<key>Title</key>
			<string>Server URL</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<false/>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ldap_bind_dn</string>
			<key>Title</key>
			<string>Bind DN</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<false/>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<true/>
			<key>Key</key>
			<string>ldap_password</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Password</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>simple</string>
			<key>Key</key>
			<string>ldap_auth_method</string>
			<key>Title</key>
			<string>Authentication Method</string>
			<key>Titles</key>
			<array>
				<string>Simple</string>
				<string>Anonymous</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>simple</string>
				<string>anonymous</string>
			</array>
		</dict>
		<dict>
		    <key>Type</key>
		    <string>PSToggleSwitchSpecifier</string>
		    <key>Title</key>
		    <string>Use TLS</string>
		    <key>Key</key>
		    <string>ldap_tls_enabled</string>
		    <key>DefaultValue</key>
		    <true/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>simple</string>
			<key>Key</key>
			<string>ldap_certificates_verification_mode</string>
			<key>Title</key>
			<string>Certificate Verification</string>
			<key>Titles</key>
			<array>
				<string>Auto</string>
				<string>Enabled</string>
				<string>Disabled</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>default</string>
				<string>enabled</string>
				<string>disabled</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Research</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ldap_base_object</string>
			<key>Title</key>
			<string>Research Base</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<false/>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ldap_filter</string>
			<key>Title</key>
			<string>Filter</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<false/>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ldap_max_results</string>
			<key>Title</key>
			<string>Max results</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>DefaultValue</key>
			<integer>50</integer>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ldap_timeout</string>
			<key>Title</key>
			<string>Timeout (seconds)</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>DefaultValue</key>
			<integer>5</integer>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ldap_delay</string>
			<key>Title</key>
			<string>Delay (milliseconds)</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>DefaultValue</key>
			<integer>500</integer>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ldap_min_chars</string>
			<key>Title</key>
			<string>Min chars</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>DefaultValue</key>
			<integer>3</integer>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>

		<dict>
			<key>Title</key>
			<string>Analysis</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ldap_name_attribute</string>
			<key>Title</key>
			<string>Name Attributes</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<false/>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ldap_sip_attribute</string>
			<key>Title</key>
			<string>SIP Attributes</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<false/>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>ldap_sip_domain</string>
			<key>Title</key>
			<string>Domain</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<false/>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Miscellaneous</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
		    <key>Type</key>
		    <string>PSToggleSwitchSpecifier</string>
		    <key>Title</key>
		    <string>Enabled</string>
		    <key>Key</key>
		    <string>ldap_logs_enabled</string>
		    <key>DefaultValue</key>
		    <true/>
		</dict>
	</array>
</dict>
</plist>
