<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>edge_opt_preference</string>
			<key>Title</key>
			<string>Edge optimization</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>wifi_only_preference</string>
			<key>Title</key>
			<string>Wifi only</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>stun_preference</string>
			<key>Title</key>
			<string>Stun Server</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>ICE</string>
			<key>Key</key>
			<string>ice_preference</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Random Port</string>
			<key>Key</key>
			<string>random_port_preference</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>port_preference</string>
			<key>Title</key>
			<string>Port</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>DefaultValue</key>
			<integer>5060</integer>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>audio_port_preference</string>
			<key>Title</key>
			<string>Audio Port(s)</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>DefaultValue</key>
			<integer>7076</integer>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>video_port_preference</string>
			<key>Title</key>
			<string>Video Port(s)</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>DefaultValue</key>
			<integer>9078</integer>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>udp</string>
			<key>Key</key>
			<string>transport_preference</string>
			<key>Title</key>
			<string>Transport</string>
			<key>Titles</key>
			<array>
				<string>UDP</string>
				<string>TCP</string>
				<string>TLS</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>udp</string>
				<string>tcp</string>
				<string>tls</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>None</string>
			<key>Key</key>
			<string>media_encryption_preference</string>
			<key>Title</key>
			<string>Media Encryption</string>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>SRTP</string>
				<string>ZRTP</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>None</string>
				<string>SRTP</string>
				<string>ZRTP</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Push Notification</string>
			<key>Key</key>
			<string>pushnotification_preference</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>network_limit_group</string>
			<key>Title</key>
			<string>Limits</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>upload_bandwidth_preference</string>
			<key>Title</key>
			<string>Upload bandwidth</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>download_bandwidth_preference</string>
			<key>Title</key>
			<string>Download bandwidth</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
	</array>
</dict>
</plist>
