<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Automatically start</string>
			<key>Key</key>
			<string>start_video_preference</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Automatically accept</string>
			<key>Key</key>
			<string>accept_video_preference</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show self view</string>
			<key>Key</key>
			<string>self_video_preference</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show preview</string>
			<key>Key</key>
			<string>preview_preference</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>video_preset_preference</string>
			<key>Title</key>
			<string>Video preset</string>
			<key>Titles</key>
			<array>
				<string>Default</string>
				<string>High FPS</string>
				<string>Custom</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>default</string>
				<string>high-fps</string>
				<string>custom</string>
			</array>
			<key>DefaultValue</key>
			<string>default</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>video_preferred_size_preference</string>
			<key>Title</key>
			<string>Preferred video size</string>
			<key>Titles</key>
			<array>
				<string>HD (960x720)</string>
				<string>VGA (640x480)</string>
				<string>QVGA (320x240)</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>DefaultValue</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string>video_preferred_fps_preference</string>
			<key>Title</key>
			<string>Preferred FPS</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>No preference</string>
				<string>5</string>
				<string>10</string>
				<string>15</string>
				<string>20</string>
				<string>25</string>
				<string>30</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>5</integer>
				<integer>10</integer>
				<integer>15</integer>
				<integer>20</integer>
				<integer>25</integer>
				<integer>30</integer>
			</array>
			<key>DefaultValue</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>download_bandwidth_preference</string>
			<key>Title</key>
			<string>Bandwidth limit in kbits/s</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>DefaultValue</key>
			<integer>380</integer>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Codecs</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>vp8_preference</string>
			<key>Title</key>
			<string>VP8</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>h264_preference</string>
			<key>Title</key>
			<string>H.264</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>mp4v-es_preference</string>
			<key>Title</key>
			<string>MPEG-4</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
