<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INSendMessageIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Envoie un message sur Linphone à Jean pour lui dire que je pars bientôt</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INStartVideoCallIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Démarre un appel vidéo avec Jean sur Linphone</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INStartAudioCallIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Appeler Jean avec Linphone</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
