<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundles</key>
	<array>
		<dict>
			<key>associated Xcode projects</key>
			<array>
				<string>../linphone.xcodeproj</string>
			</array>
			<key>change date</key>
			<date>2001-01-01T00:00:00Z</date>
			<key>class</key>
			<string>BLBundleObject</string>
			<key>errors</key>
			<array/>
			<key>files</key>
			<array>
				<dict>
					<key>attachments</key>
					<dict>
						<key>backup</key>
						<dict>
							<key>1</key>
							<dict>
								<key>class</key>
								<string>BLWrapperHandle</string>
								<key>name</key>
								<string>Resources/Localizable/1/Localizable.strings</string>
							</dict>
						</dict>
					</dict>
					<key>change date</key>
					<date>2013-01-31T13:17:37Z</date>
					<key>class</key>
					<string>BLStringsFileObject</string>
					<key>errors</key>
					<array/>
					<key>flags</key>
					<integer>0</integer>
					<key>hash</key>
					<string>5aab746c7cc97fd896f82e540eb51e27
</string>
					<key>name</key>
					<string>Localizable.strings</string>
					<key>objects</key>
					<array>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>%@ is busy</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>%@ is busy</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Answer</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Answer</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Cannot make call</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Cannot make call</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Connection issue: %@</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Connection issue: %@</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Continue</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Continue</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Either configure a SIP proxy server from settings prior to place a call or use a valid SIP address (I.E sip:john@example.net)</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Either configure a SIP proxy server from settings prior to place a call or use a valid SIP address (I.E sip:john@example.net)</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>History delete error</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>History delete error</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>History provisioning error</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>History provisioning error</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>IC_MSG</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>IC_MSG</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>IM_MSG</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>IM_MSG</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Invalid configuration file</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Invalid configuration file</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Invalid SIP address</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Invalid SIP address</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>It seems you have not configured any proxy server from settings</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>It seems you have not configured any proxy server from settings</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Network Error</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Network Error</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Never remind</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Never remind</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>No microphone</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>No microphone</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Ok</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Ok</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Please terminate GSM call</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Please terminate GSM call</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Provisioning error</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Provisioning error</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Provisioning Success</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Provisioning Success</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Show</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Show</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Surveillance issue</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Surveillance issue</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>The providing configuration is successfully applied</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>The providing configuration is successfully applied</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>There is no network connection available, enable WIFI or WWAN prior to place a call</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>There is no network connection available, enable WIFI or WWAN prior to place a call</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Unknown</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Unknown</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Unknown issue when saving configuration</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Unknown issue when saving configuration</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Warning</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Warning</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>You can't call this camera</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>You can't call this camera</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>No comment provided by engineer.</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>You need to plug a microphone to your device to use this application.</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>You need to plug a microphone to your device to use this application.</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
					</array>
					<key>plist file</key>
					<false/>
					<key>snapshots</key>
					<dict/>
					<key>versions</key>
					<dict>
						<key>en</key>
						<string>1</string>
					</dict>
				</dict>
			</array>
			<key>flags</key>
			<integer>0</integer>
			<key>name</key>
			<string>Resources</string>
			<key>naming style</key>
			<integer>1</integer>
			<key>referencing style</key>
			<integer>1</integer>
			<key>user name</key>
			<string>Resources</string>
		</dict>
		<dict>
			<key>associated Xcode projects</key>
			<array>
				<string>../linphone.xcodeproj</string>
			</array>
			<key>change date</key>
			<date>2001-01-01T00:00:00Z</date>
			<key>class</key>
			<string>BLBundleObject</string>
			<key>errors</key>
			<array/>
			<key>files</key>
			<array>
				<dict>
					<key>attachments</key>
					<dict>
						<key>backup</key>
						<dict>
							<key>1</key>
							<dict>
								<key>class</key>
								<string>BLWrapperHandle</string>
								<key>name</key>
								<string>Classes/BuschJaegerSettingsView/1/BuschJaegerSettingsView.xib</string>
							</dict>
						</dict>
					</dict>
					<key>change date</key>
					<date>2013-01-31T14:06:15Z</date>
					<key>class</key>
					<string>BLNibFileObject</string>
					<key>errors</key>
					<array/>
					<key>flags</key>
					<integer>0</integer>
					<key>hash</key>
					<string>b1e91037d07ea3cba150bcb9f9a033ca
</string>
					<key>name</key>
					<string>BuschJaegerSettingsView.xib</string>
					<key>objects</key>
					<array>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Class = "IBUILabel"; text = "Quick configuration with QR-code"; ObjectID = "10";</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>10.text</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Quick configuration with QR-code</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Class = "IBUILabel"; text = "Back"; ObjectID = "15";</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>15.text</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Back</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Class = "IBUILabel"; text = "Reload configuration"; ObjectID = "26";</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>26.text</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Reload configuration</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
					</array>
					<key>snapshots</key>
					<dict/>
					<key>versions</key>
					<dict>
						<key>de</key>
						<string>1</string>
						<key>en</key>
						<string>1</string>
						<key>es</key>
						<string>1</string>
						<key>fi</key>
						<string>1</string>
						<key>fr</key>
						<string>1</string>
						<key>it</key>
						<string>1</string>
						<key>nl</key>
						<string>1</string>
						<key>pl</key>
						<string>1</string>
						<key>ru</key>
						<string>1</string>
						<key>sv</key>
						<string>1</string>
						<key>zh_CN</key>
						<string>1</string>
					</dict>
				</dict>
			</array>
			<key>flags</key>
			<integer>0</integer>
			<key>name</key>
			<string>Classes</string>
			<key>naming style</key>
			<integer>1</integer>
			<key>referencing style</key>
			<integer>1</integer>
			<key>user name</key>
			<string>Classes</string>
		</dict>
		<dict>
			<key>associated Xcode projects</key>
			<array/>
			<key>change date</key>
			<date>2001-01-01T00:00:00Z</date>
			<key>class</key>
			<string>BLBundleObject</string>
			<key>errors</key>
			<array/>
			<key>files</key>
			<array>
				<dict>
					<key>attachments</key>
					<dict>
						<key>backup</key>
						<dict>
							<key>1</key>
							<dict>
								<key>class</key>
								<string>BLWrapperHandle</string>
								<key>name</key>
								<string>Settings.bundle/Root/1/Root.strings</string>
							</dict>
						</dict>
					</dict>
					<key>change date</key>
					<date>2013-01-31T14:14:30Z</date>
					<key>class</key>
					<string>BLStringsFileObject</string>
					<key>errors</key>
					<array/>
					<key>flags</key>
					<integer>0</integer>
					<key>hash</key>
					<string>3aa7ccf800a8d209e8439266e4be9e78
</string>
					<key>name</key>
					<string>Root.strings</string>
					<key>objects</key>
					<array>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Battery alert</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Battery alert</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Battery alert</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Version</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Version</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Version</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Background mode</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Background mode</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Always active</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Hide Switch Light</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Hide Switch Light</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Hide light switch</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Hide Lock door</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Hide Lock door</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Hide door opener</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Advanced</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Advanced</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Advanced</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Welcome must be restarted for changes to take effect</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Welcome must be restarted for changes to take effect</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Welcome must be restarted for changes to take effect</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Level Ringtone</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Level Ringtone</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Level Ringtone</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Ringtone</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Ringtone</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Ringtone appartment</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Sounds</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Sounds</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>System settings</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Password</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Password</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Password</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>IP-Gateway</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>IP-Gateway</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>IP gateway address</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>SIP account</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>SIP account</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Network settings</string>
								<key>nl</key>
								<string>Netwerkinstellingen</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Wizard</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Wizard</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Wizard</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>User name</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>User name</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>User name</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
					</array>
					<key>plist file</key>
					<false/>
					<key>snapshots</key>
					<dict/>
					<key>versions</key>
					<dict>
						<key>en</key>
						<string>1</string>
					</dict>
				</dict>
			</array>
			<key>flags</key>
			<integer>0</integer>
			<key>name</key>
			<string>Settings.bundle</string>
			<key>naming style</key>
			<integer>1</integer>
			<key>referencing style</key>
			<integer>1</integer>
			<key>user name</key>
			<string>Settings.bundle</string>
		</dict>
	</array>
	<key>languages</key>
	<array>
		<string>en</string>
		<string>nl</string>
	</array>
	<key>preferences</key>
	<dict/>
	<key>reference language</key>
	<string>en</string>
	<key>supports preview</key>
	<true/>
	<key>version</key>
	<integer>4</integer>
</dict>
</plist>
