/*
{{className}}.java
Copyright (C) 2010  Belledonne Communications, Grenoble, France

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*/

package {{packageName}};

{{#imports}}
import {{import}}
{{/imports}}

{{#doc}}
/**
    {{#lines}}
  * {{line}}
    {{/lines}}
  */
{{/doc}}
static public class {{className}} {
    static private Vector<{{className}}> values = new Vector<{{className}}>();
{{#values}}

    {{#doc}}
    /**
        {{#lines}}
      * {{line}}
        {{/lines}}
      */
    {{/doc}}
    static public {{className}} {{name}} = new {{className}}({{value}}, {{name}});
{{/values}}

    protected final int mValue;
    private final String mStringValue;

    private {{className}}(int value, String stringValue) {
        mValue = value;
        values.addElement(this);
        mStringValue = stringValue;
    }
    public static {{className}} fromInt(int value) {
        for (int i = 0; i < values.size(); i++) {
            {{className}} mstate = ({{className}}) values.elementAt(i);
            if (mstate.mValue == value) return mstate;
        }
        throw new RuntimeException("{{className}} not found [" + value + "]");
    }
    public String toString() {
        return mStringValue;
    }
}